.image {
  object-fit: cover;
  object-position: center;
  width: 314px;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 200ms ease;
}

.image:hover {
  transform: scale(1.025);
}
